            <div class="row">
                <div class="col-md-3" id="MenuSup">
                    <header>
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav flex-column p-2 nav nav-tabs border-0" role="tablist">
                                    <li class="nav-item active border-bottom btn-view nav-item-cadastro">
                                        <a class="texto-vermelho-a pl-1" data-toggle="tab" href="#home">CADASTRO</a>
                                    </li>
                                    <li class="nav-item border-bottom btn-view">
                                        <a class="texto-vermelho-a pl-1" data-toggle="tab" href="#regulamento">REGULAMENTO</a>
                                    </li> 
                                    <li class="nav-item border-bottom btn-view">
                                        <a class="texto-vermelho-a pl-1" data-toggle="tab" href="#sorte">N&#176; DA SORTE</a>
                                    </li>
                                    <li class="nav-item border-bottom btn-view-off">
                                        <a class="texto-vermelho-a pl-1" data-toggle="tab" href="#ganhadores" id="normalbgg">GANHADORES</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                </div>
            </div>